<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>协议规则</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <!--公共的CSS-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--首页的CSS-->
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css" />
	<!-- bootstrap css -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<!-- style css -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!-- Responsive-->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- fevicon -->
	<link rel="icon" href="images/fevicon.png" type="image/gif" />
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="css/font-awesome.css">
	<!-- owl stylesheets -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/jquery.fancybox.min.css" media="screen">
</head>

<body>
    <div class="page-top">
		<div class="container">
			<div class="top-lt">
				<a href="./index.html">汽车销售门店</a>
				<span>|</span>
				<a href="./Usermessage_master.html">客人信息管理</a>
				<span>|</span>
				<a href="./persion_center.html">个人中心</a>
				<span>|</span>
				<a href="./oreder_master.html">管理订单</a>
				<span>|</span>
				<a href="">财务管理</a>
				<span>|</span>
				<a href="./Mastergoods.html">产品管理</a>
				<span>|</span>
				<a href="">售后服务</a>
				<span>|</span>
				<a href="./xieyi.html">协议规则</a>
				<span>|</span>
				<!-- <a href="" class="download">下载app
			<div class="down-box">
				<img src="img/download.png" alt="小米商城">
				小米商城APP
			</div>
		</a>
			<span>|</span>
		<a href="">Select Location</a>	 -->
			</div>
			<div class="top-gt">

				<div class="login">
					<a href="">登录</a>
					<span>|</span>
					<a href="">注册</a>

				</div>

			</div>
		</div>
	</div>

    <div class="" >
        <div class="card text-white bg-primary text-center">
        <div class="card-body">
        <blockquote class="card-bodyquote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in
        <cite title="Source Title">Source Title</cite>
        </footer>
        </blockquote>
        </div>
        </div>
        </div>

    <script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/jquery-3.0.0.min.js"></script>
	<script src="js/plugin.js"></script>
	<!-- sidebar -->
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/custom.js"></script>
	<!-- javascript -->
	<script src="js/owl.carousel.js"></script>
	<script src="js/jquery.fancybox.min.js"></script>
	<script type="js/owl.carousel.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="assets/js/vendor/popper.min.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
<style> 
    body {
      background:url("/img/backgroud.jpeg")  no-repeat center center;   /*加载背景图*/   /* 背景图不平铺 */
      background-size:cover;  /* 让背景图基于容器大小伸缩 */
      background-attachment:fixed;        /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */    /*此条属性必须设置否则可能无效*/
      background-color:#CCCCCC;   /* 设置背景颜色，背景图加载过程中会显示背景色 */
    }


   </style>
</html>